extends layout

block content
  h1= title
  p Welcome to #{title}

  p The backend lets you communicate with the Stroller Database. 
  p The REST API offers you basic CRUD functionalities (Create / Read / Update / Delete)
  p Link to API documentation: https://github.com/Thibault-d/RollBabyRoll-Backend
  
